<script src= "/scripts/join.js"></script>
<div class="container">

  <h1>Add students to courses</h1>
    <form class="" action="/api/enrollments" method="post">
      <select class="selectpicker" name="studentId">
        <!-- <option value="volvo">Volvo</option> -->
        <% students.forEach(function(val){ %>
          <option data-content="<span class='label label-success'>Relish</span>" value="<%= val._id %>"> <%= val.FirstName + " " + val.LastName %></option>
        <% }); %>

      </select>
      <select name="courseId">
        <!-- <option value="volvo">Volvo</option> -->
        <% courses.forEach(function(val){ %>
          <option value="<%= val._id %>"> <%= val.Name %></option>
        <% }); %>
      </select>
      <button type="submit"> Make Enrollment</button>
    </form>


</div>
